{% extends 'base.html' %}
{% load static%}
{% static "img" as baseUrl %}
{% block content %}
    <div class="container my-4">

        <img width="1300" src="{% static 'img/about2.png' %}" alt="My Image" class="responsive">
        <p style="font-size: 2.5ch;">This is an online portal for the Thapar Insititute of Engineering and Technology,
            Patiala, which will help
            the various Socities/Clubs/Chapters and College Management Committee in the approval of different
            Permissions and Funding Requests.<br><br>

            It has been experienced by many students that the major issue being faced by them is the taking of
            Permissions from the College Committee for any Event (which includes Funding from the college, Booking of
            Rooms for the event, etc.).<br><br>
            So, in order to get the permission we were earlier required to write an application mentioning all the
            necessary details. Further we were required to take that application from one office to another to get it
            signed. But many a times, the authorities were preoccupied which eventually style="font-size: 2.5ch;s to a wastage of time.<br>

            Hence we have developed this portal on which any Society/Club/Chapter can register and can initiate any
            Permission or Funding request to the concerned authorities. After succesful inititation of the request, it
            will be passed from one concerned authority to other, and simultaneously the Society/Club/Chapter can keep a
            track of the status of their Application.<br><br>

            This will help both the Society/Club/Chapter and the College Committee in maintaining the record of the
            applications that they are receiving. Hence providing a hassle free and transparent working of the process.
            Thus, solving the biggest problem faced by Socities/Clubs/Chapters and College Management Committee.</p>
        <br>
        <br>
        <h1 style="text-align: center" style="font-weight:bold ">Developers</h1>
        <br>
        <br>
        <br>
        <div class="row featurette d-flex justify-content-center allign-items-center">
            <div class="col-md-7 order-md-1 bgtext">
                <h2 class="featurette-heading">Rohan Goyal <span class="text-muted"></span></h2>
                <p class="style="font-size: 2.5ch;">Email- rgoyal_be18@thapar.edu <br>
                    Github- goelrohan94 <br>
                    Linkedln- https://www.linkedin.com/in/rohan-goyal-2924ab172/ </p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
                    height="200" src="{% static 'img/rohan.jpg' %}">
                <title>Rohan Goyal</title>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row featurette d-flex justify-content-center allign-items-center">
            <div class="col-md-7 order-md-2 bgtext">
                <h2 class="featurette-heading">Utkarsh Babbar <span class="text-success"></span></h2>
                <p class="style="font-size: 2.5ch;">Email- babbarutkarsh66@gmail.com <br>
                    Github- babbarutkarsh <br>
                    Linkedln- https://www.linkedin.com/in/utkarsh-babbar-3a931a167/</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
                    height="200" src="{% static 'img/babbar.jpg' %}">
                <title>Utkarsh Babbar</title>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row featurette d-flex justify-content-center allign-items-center">
            <div class="col-md-7 order-md-1 bgtext">
                <h2 class="featurette-heading">Jatin Aggarwal <span class="text-success"></span></h2>
                <p class="style="font-size: 2.5ch;">Email- jatinagg1@gmail.com <br>
                    Github- jatinagg1 <br>
                    Linkedln- https://www.linkedin.com/in/jatin-a-21222712b/</p>
            </div>
            <div class="col-md-5 order-md-2 ">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
                    height="200" src="{% static 'img/jatin.jpg' %}">
                <title>Jatin Aggarwal</title>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row featurette d-flex justify-content-center allign-items-center">
            <div class="col-md-7 order-md-2 bgtext">
                <h2 class="featurette-heading">Sudhanshu Mahajan <span class="text-muted"></span></h2>
                <p class="style="font-size: 2.5ch;">Email- mahajansudhanshu199@gmail.com <br>
                    Github- sudhanshu1999 <br>
                    Linkedln- https://www.linkedin.com/in/sudhanshu-mahajan-096523172</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
                    height="200" src="{% static 'img/sudhanshu.jpg' %}">
                <title>Sudhanshu Mahajan</title>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row featurette d-flex justify-content-center allign-items-center">
            <div class="col-md-7 order-md-1 bgtext">
                <h2 class="featurette-heading">Tarun Walia <span class="text-muted">.</span></h2>
                <p class="style="font-size: 2.5ch;">
                <p class="style="font-size: 2.5ch;">Email- twalia_be18@thapar.edu <br>
                    Github- tarunwalia1999</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
                    height="200" src="{% static 'img/tarun.jpg' %}">
                <title>Tarun Walia</title>
            </div>
        </div>
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2020-2021 Club Management System, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
{% endblock %}