<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/22.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Login Page</h2>
   <div class="login shift">
    <h2>Enter your Credentials:</h2>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="Submit" id="submit" class="submit">
    </form>


    <div>
            {% for message in messages %}
            <h3> {{message}}  </h3>
            {% endfor %}
    </div>
   </div>
   </div>
{% endblock %}